<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>About Me</title>
</head>
<body>
    <header>
        <h1>About Me</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>Welcome to My About Page</h2>
            <p>My GitHub: <a href="https://github.com/GOURAV1630">Click here to see my Github profile</a></p>
            <p>My LinkedIn: <a href="https://www.linkedin.com/in/gourav-gupta-0a1bb1215/">Click here to see my linkedin profile</a></p>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2023 Your Website Name</p>
    </footer>
</body>
</html>
